@model Inventarios.Models.Relacion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Relacion</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Articulos1.OtrosDetalles)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Articulos1.OtrosDetalles)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Articulos2.OtrosDetalles)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Articulos2.OtrosDetalles)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdRelacion }) |
    @Html.ActionLink("Back to List", "Index")
</p>
