@model Inventarios.Models.Ticket

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutHelpDesk.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Ticket</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Titulo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Titulo)
                @Html.ValidationMessageFor(model => model.Titulo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Categoria, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Categoria)
                @Html.ValidationMessageFor(model => model.Categoria)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Prioridad, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Prioridad)
                @Html.ValidationMessageFor(model => model.Prioridad)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FechaCreacion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FechaCreacion)
                @Html.ValidationMessageFor(model => model.FechaCreacion)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IdCreador, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IdCreador)
                @Html.ValidationMessageFor(model => model.IdCreador)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FechaUltimaActualizacion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FechaUltimaActualizacion)
                @Html.ValidationMessageFor(model => model.FechaUltimaActualizacion)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FechaVencimiento, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FechaVencimiento)
                @Html.ValidationMessageFor(model => model.FechaVencimiento)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Descripcion)
                @Html.ValidationMessageFor(model => model.Descripcion)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.KnowledgeItemId, "KnowledgeItemId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("KnowledgeItemId", String.Empty)
                @Html.ValidationMessageFor(model => model.KnowledgeItemId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ArticulosIdArticulo, "ArticulosIdArticulo", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ArticulosIdArticulo", String.Empty)
                @Html.ValidationMessageFor(model => model.ArticulosIdArticulo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PersonalsIdPersonal, "PersonalsIdPersonal", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("PersonalsIdPersonal", String.Empty)
                @Html.ValidationMessageFor(model => model.PersonalsIdPersonal)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
