@model IEnumerable<Inventarios.Models.Ticket>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutHelpDesk.cshtml";
}

<h2>Tickets</h2>

<p>
    @Html.ActionLink("Abrir nuevo ticket", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Titulo
        </th>
        <th>
            Categoria
        </th>
        <th>
            Prioridad
        </th>
        <th>
            Fecha creación
        </th>
        <th>
            Última actualización
        </th>
        <th>
            Fecha de vencimiento
        </th>
        <th>
            Creado por
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Titulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Categoria)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prioridad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaCreacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaUltimaActualizacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaVencimiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdCreador)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
