@model Inventarios.Models.KnowledgeItem

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutHelpDesk.cshtml";
}

<div>
    <h2>@Html.DisplayFor(model => model.Titulo)</h2>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            Fecha de creación
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>

        <dt>
            Fecha de la última modificación
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaUltimaModificacion)
        </dd>

        <dt>
            Creado por
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Creador)
        </dd>

        <dt>
            Palabras clave
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Keywords)
        </dd>

    </dl>
    <p>
        @Html.Raw(Model.Descripcion)
    </p>
</div>
<p>
    @Html.ActionLink("Regresar al listado", "Index")
</p>
